[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-cloudinary-storage = "*"
collectfast = "*"
whitenoise = "*"
django-debug-toolbar = "*"
sentry-sdk = "*"
django-ordered-model = "*"
ipython = "*"
django-extensions = "*"

[dev-packages]
flake8 = "*"
pytest-django = "*"
pytest-cov = "*"
codecov = "*"
model-bakery = "*"

[requires]
python_version = "3.9"
